* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --maincolor: rgb(59, 113, 99);
    --secondcolor: rgb(184, 168, 129);
    --thirdcolor: rgb(157, 157, 157);
}

body {
    background-color: white;
}

.startbutton,
.infobox,
.quizbox
 {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.startbutton button {
    font-size: 25px;
    font-weight: 500;
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: var(--maincolor);
    cursor: pointer;
}

.infobox {
    display: none;
    width: 540px;
    background: var(--maincolor);
    border-radius: 5px;
}

.infobox .infotitle {
    color: white;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.infobox .infolist {
   padding: 15px 25px;
}

.infobox .infolist .info {
    color: white;
    font-size: 18px;

}

.infobox .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    border-top: 1px solid white;
}

.infobox .buttons button {
    margin: 5px;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    background-color: var(--maincolor);
    border-style: none;
    border-radius: 5px;
    border: 1px solid white;
}

.infobox .buttons button:hover {
    background-color: white;
    border: 1px solid var(--maincolor);
    color: var(--maincolor);
    transition: ease .5s;
}

.quizbox {
    width: 550px;
    background-color: var(--maincolor);
    border-radius: 5px;
}

.quizbox header {
    position: relative;
    z-index: 10;
    height: 70px;
    padding: 0px 35px;
    background: var(--maincolor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quizbox header .title {
    font-size: 22px;
    font-weight: 600;
    color: white;
}

.quizbox header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    height: 80%;
    padding: 30px;
    border-radius: 5px;
    user-select: none;
    font-size: 19px;
    background: var(--thirdcolor);
}

.quizbox header .timer .timetext {
    color: white;
}

.quizbox header .timer .seconds {
    color: white;
    font-weight: 600;
}

.quizbox section {
    padding: 25px 30px 20px 30px;
    background-color: var(--maincolor);
}

.quizbox section .quetext {
    color: white;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.quizbox section .optionlist {
    padding: 20px 0;
    display: block;
}

.quizbox section .optionlist .option {
    background-color: var(--thirdcolor);
    color: white;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.quizbox section .optionlist .option:hover {
    background-color: grey;
    transition: ease .3s;
}


.quizbox section .optionlist .option:last-child {
    margin-bottom: 0px;
}

.quizbox footer {
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quizbox footer .totalque span {
    display: flex;
    user-select: none;
}
    
footer .totalque span p {
    font-weight: 500;
    padding: 0 5px;
}

.totalque span p:first-child {
    padding-left: 0;
}

footer .nextbutton {
    height: 40px;
    width: 120px;
    padding: 10px 10px;
}